---
import MC from '../temlplates/lb_mac_n_cheese.astro';
import ACM from '../temlplates/lb_camel_milk.astro';
import DF from '../temlplates/lb_default.astro';
import PB from '../temlplates/lb_pork_n_beans.astro';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800"
      rel="stylesheet" />
    <title>Deployed: nut</title>
  </head>
	<style>
    @import '../styles/styles.scss';
  </style>
  <body>
    <MC />
    <PB />
    <ACM />
  </body>
</html>
