---
import '../styles/styles.scss';
---
<div class="label label-camel-milk">
  <header>
    <h1 class="bold">Nutrition Facts</h1>
    <h3 class="bold">(Aadvik Camel Milk Powder)</h3>
    <div class="divider devider-camel-milk"></div>
    <p>10 servings per pack</p>
    <p class="bold">Serving size <span>20g</span></p>
  </header>
  <div class="divider devider-camel-milk large"></div>
  <div class="calories-info">
    <div class="left-container">
      <h2 class="bold small-text">Amount per serving</h2>
      <p>Calories</p>
    </div>
    <span>105</span>
  </div>
  <div class="divider devider-camel-milk medium"></div>
  <div class="wen-xin-ti-xing">
    <p class="bold">溫馨提醒: <span>耳機音量不要超過50%</span></p>
  </div>
  <div class="divider devider-camel-milk medium"></div>
  <div class="daily-value small-text">
    <p class="bold right no-divider">% Daily Value *</p>
    <div class="divider devider-camel-milk"></div>
    <p>
      <span><span class="bold">Total Fat</span> 6.6g</span>
      <span class="bold">8.5%</span>
    </p>
    <p class="indent no-divider">
      Saturated Fat 4.9g <span class="bold">24.2%</span>
    </p>
    <div class="divider devider-camel-milk"></div>
    <p class="indent no-divider"><span>Trans Fat 0.0g</span></p>
    <div class="divider devider-camel-milk"></div>
    <p>
      <span><span class="bold">Total Carbohydrates</span> 7.2g</span>
      <span class="bold">2.6%</span>
    </p>
    <p class="indent no-divider">
      <span>Dietary Fiber 2g</span>
      <span>8%</span>
    </p>
    <div class="divider devider-camel-milk"></div>
    <p class="indent no-divider">Sugars 3.8g</p>
    <p class="indent no-divider">Added Sugars 0.0g</p>
    <p>
      <span>
        <span class="bold">Cholesterol</span> 21mg
      </span>
      <span class="bold">7%</span>
    </p>
    <p>
      <span><span class="bold">Sodium</span> 110mg</span>
      <span class="bold">4.8%</span>
    </p>

    <p class="no-divider">
      <span>
        <span class="bold">Protein</span> 4.2g</span>
      </span>
      <span class="bold">8.4%</span>
    </p>
    <div class="divider devider-camel-milk medium"></div>
    <p class="note no-divider">
      * The % Daily Value (DV) tells you how much a nutrient in a serving of
      food contributes to a daily diet. 2,000 calories a day is used for
      general nutrition advice.
    </p>
  </div>
</div>